<!-- <div class="row">
    <h1>Poste one</h1>
    <div class="col-2"></div>
    <div class="col-8" [hidden]="showBasicPost((post | async)?.postType)">
        <h1>{{(post | async)?.title}}</h1>
        <p [innerHTML]="(post | async)?.description"></p>

        <h1>{{(post | async)?.postType}}</h1>
    </div>
    <div class="col-8" [hidden]="!showBasicPost((post | async)?.postType)">
        <div markdown katex [src]="(post | async)?.markdownUrl"  (error)="onError($event)"></div>
    </div>
    <div class="col-2"></div>
</div> -->

<!-- <app-scrollspy-nav-layout [headings]="headings">
    <markdown emoji [src]="(post_ | async)?.rawPostURL" (load)="onLoad()" (error)="onError($event)"></markdown>
</app-scrollspy-nav-layout> -->

<app-scrollspy-nav-layout [headings]="headings">
    <markdown emoji *ngIf=!post> :see_no_evil: :hear_no_evil: :speak_no_evil: Loading ...</markdown>
    <markdown emoji [src]="post?.rawPostURL" (load)="onLoad()" *ngIf=post></markdown>
</app-scrollspy-nav-layout>